:host {
  text-align: left;
  width: 600px;
  max-width: 100%;
  margin: auto;
  display: block;

  .mat-card {
    min-height: 450px;

    .done {
      text-decoration: line-through;
      opacity: 0.5;
    }
  }
}
